module Menu
    
    def menu
        "Welcome! would you like to do..
        1) Add
        2) Show
        3) Write a file
        4) Read a file
        Q) Quit "
    end
    
    def show
        menu
    end
    
    def to_s
        description
    end
end

module Promptable
    def prompt(message ='What would you like to do?', symbol = ':>')
        print message
        print symbol
        gets.chomp
    end
end

#classes
class List
    attr_reader:all_tasks
    def initialize
        @all_tasks = []
    end
    def add(task)
        all_tasks << task
    end
    def show
        all_tasks.map.with_index {|l, i| "\n#{i.next}.#{l}"}
    end
    def write_to_file(filename)
        IO.write(filename, @all_tasks.map(&:to_s).join("\n"))
    end
    def read_file(filename)
        IO.readlines(filename).each do |line|
          add(Task.new(line.chomp))
        end
    end
end

class Task
    attr_reader:description
    def initialize(description)
        @description = description
    end
    def to_s
        description
    end
end

if __FILE__ == $PROGRAM_NAME
    include Menu 
    include Promptable 
    my_list = List.new
    puts "Please choose from the following..."
        until ['q'].include?(user_input = prompt(show).downcase) 
            case user_input
                when '1'
                    my_list.add(Task.new(prompt('What is the task you would like to accomplish?')))
                when '2'
                    puts my_list.show
                when '3'
                    my_list.write_to_file(prompt('what is the filename to write to?'))
                when '4'
                    my_list.read_file(prompt('What file would you like to read?'))
                    rescue Errno::ENOENT
                        puts 'File name not found, please verify your file name and path.'
                    end
                    end
                else
                    puts 'Sorry, I did not understand'
         end
        prompt ('Press enter to Continue')
    end 
    puts 'Outro - Thanks for using the menu system!'
end 
